@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #010037;
    font-family: 'Nunito';
}
.header-container {
    height: 100vh;
}

.header-container #image-fundo {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    -webkit-mask-image: linear-gradient(225deg, transparent -20%,  #0075FF);
    mask-image: linear-gradient(225deg, transparent 0%,  #0075FF);
}

.nav-main {
    position: relative;
    justify-content: space-between;
}

.nav-main, #img-h1, #opcoes {
    display: flex;
}

#img-h1, #opcoes {
    margin-top: 11px;
}

.nav-main img {
    height: 85px;
    width: 85px;
    margin: 0px 58px 0px 133px;
}

.nav-main h1{
    font-size: 45pt;
    margin: 0;
}

#h1-link {
    color: #000814;
    text-decoration: none;
}

.link-opcoes{
    text-decoration: none;
    color: white;
}

#opcoes button {
    background: transparent;
    border: none;
    padding: none;
    font-size: 12.8pt;
}

#butao-aquario {
    margin: 28px 137px 20px 66px ;
    padding: 0;
    width: 85px;
    height: 35px;
}

#butao-aquario:hover {
    background-color: #F5BF00;
    border-radius: 40px;
    transition-duration: 0.4s;
}

#butao-peixes {
    margin-top: 28px;
    padding: 0;
    width: 85px;
    height: 35px;
    
}

#butao-peixes:hover {
    background-color: #F5BF00;
    border-radius: 40px;
    transition-duration: 0.4s;
}

.introdução-index {
    position: relative;
    justify-content: center;
    display: flex;
    margin-top: 5%;
}

.introdução-index h2 {
    color: white;
    font-size: 38.8pt;
    text-align: justify;
    width: 400px;
}

.introdução-index img {
    width: 372px;
    height: 372px;
}

.calculador-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.aqua-calc {
    background: rgb(0,117,255);
    background: linear-gradient(330deg, rgba(0,117,255,1) 0%, rgba(0,67,167,1) 100%);
    border-radius: 33px;
    display: flex;
    width: 80vw;
    justify-content: center;
}

.aqua-calc div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    border-radius: 5px;
    border: 4px solid transparent;
    margin: 10px;
    width: 423px;
    height: 41.65px;
    outline: none;
    box-shadow: 0px 0px 20px 1px transparent;
    transition: box-shadow 0.4s linear, 
                border-color 0.4s linear;
}

.input:focus {
    border-color: #0075FF;
    box-shadow: 0px 0px 40px 1px #010037;
}

.input::placeholder {
    color: #000814b8;
}

#botao-calcular {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 45px;
    background-color: #010037;
    color: white;
    margin: 20px;
    border-radius: 60px;
    box-shadow: 0px 0px 20px 1px transparent;
    transition: box-shadow 0.4s linear, 
                border-color 0.4s linear;
}

#botao-calcular:hover {
    box-shadow: 0px 0px 5px 1px #F5BF00;
    transition: 0.4s linear;
    cursor: pointer;
}


.img-calc {
    width: 52px;
    height: 52px;
    margin: 20px;
}