@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #010037;
    font-family: 'Nunito';
}

header {
    width: 100vw;
    height: 100vh;
}

header #image-fundo {
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    -webkit-mask-image: linear-gradient(225deg, transparent -20%,  #0075FF);
    mask-image: linear-gradient(225deg, transparent 0%,  #0075FF);
}

.nav-main {
    position: relative;
    justify-content: space-between;
}

.nav-main, #img-h1, #opcoes {
    display: flex;
}

#img-h1, #opcoes {
    margin-top: 11px;
}

.nav-main img {
    height: 85px;
    width: 85px;
    margin: 0px 58px 0px 133px;
}

.nav-main h1{
    font-size: 45pt;
    margin: 0;
}

#h1-link {
    color: #000814;
    text-decoration: none;
}

.link-opcoes{
    text-decoration: none;
    color: white;
}

#opcoes button {
    background: transparent;
    border: none;
    padding: none;
    font-size: 12.8pt;
}

#butao-aquario {
    margin: 28px 137px 20px 66px ;
    padding: 0;
    width: 85px;
    height: 35px;
}

#butao-aquario:hover {
    background-color: #F5BF00;
    border-radius: 40px;
    transition-duration: 0.4s;
}

#butao-peixes {
    margin-top: 28px;
    padding: 0;
    width: 85px;
    height: 35px;
    
}

#butao-peixes:hover {
    background-color: #F5BF00;
    border-radius: 40px;
    transition-duration: 0.4s;
}

.introdução-index {
    position: relative;
    margin: 69px 400px;
    display: flex;
}

.introdução-index h2 {
    color: white;
    font-size: 38.8pt;
    margin: 0;
    text-align: justify;
    padding: 10% 5% 0px 0px;
    max-width: 800px;
}


.retangulo-perg {
    background: rgb(0,117,255);
    background: linear-gradient(330deg, rgba(0,117,255,1) 0%, rgba(0,67,167,1) 100%);
    border-radius: 33px;
    display: flex;
    flex-direction: column;
    width: 1170px;
    height: 634px;
    margin: 0 auto;
    margin-top: 192px;
}

.retangulo-perg div {
    display: flex;
}

.retangulo-perg h2 {
    color: #F5BF00;
    font-size: 40pt;
}

.retangulo-perg p {
    text-align: justify;
    color: white;
    font-size: 20pt;
    width: 800px;
    margin-top: 75px;
}

.retangulo-perg h2,p {
    margin-left: 70px;
}

.retangulo-perg img {
    margin-top: 55.333px;
    width: 168px;
    height: 110px;
}