@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #010037;
    font-family: 'Nunito';
}
.header-container {
    height: 100vh;
}

.header-container #image-fundo {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    -webkit-mask-image: linear-gradient(225deg, transparent -20%,  #0075FF);
    mask-image: linear-gradient(225deg, transparent 0%,  #0075FF);
}

.nav-main {
    position: relative;
    justify-content: space-between;
}

.nav-main, #img-h1, #opcoes {
    display: flex;
}

#img-h1, #opcoes {
    margin-top: 11px;
}

.nav-main img {
    height: 85px;
    width: 85px;
    margin: 0px 58px 0px 133px;
}

.nav-main h1{
    font-size: 45pt;
    margin: 0;
}

#h1-link {
    color: #000814;
    text-decoration: none;
}

.link-opcoes{
    text-decoration: none;
    color: white;
}

#opcoes button {
    background: transparent;
    border: none;
    padding: none;
    font-size: 12.8pt;
}

#butao-aquario {
    margin: 28px 137px 20px 66px ;
    padding: 0;
    width: 85px;
    height: 35px;
}

#butao-aquario:hover {
    background-color: #F5BF00;
    border-radius: 40px;
    transition-duration: 0.4s;
}

#butao-peixes {
    margin-top: 28px;
    padding: 0;
    width: 85px;
    height: 35px;
    
}

#butao-peixes:hover {
    background-color: #F5BF00;
    border-radius: 40px;
    transition-duration: 0.4s;
}

.introdução-index {
    position: relative;
    justify-content: center;
    display: flex;
    margin-top: 5%;
}

.introdução-index img {
    max-width: 390px;
    max-height: 390px;
}

.introdução-index h2 {
    color: white;
    font-size: 38.8pt;
    text-align: justify;
}

.introdução-index p {
    color: white;
    font-size: 15.8pt;
    width: 560px;
}


.conteudo-main {
    margin-left: 100px;
}

.conteudo-main h2 {
    color: #F5BF00;
    font-size: 35pt;
}

#imagem-prim {
    width: 1174px;
    height: 879px;
}

.imagem-sec {
    width: 970px;
}

.conteudo-main h3 {
    font-size: 23pt;
    color: #F5BF00;
    margin: 0;
}

.aguadoce-container {
    margin-top: 110px;
}

.aguadoce-container p {
    color: white;
    font-size: 20pt;
    width: 970px;
}
#h3-aguadoce {
    display: flex;
}

#h3-aguadoce img {
    width: 109px;
    height: 109px;
}

.peixes-aguadoce {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.peixes-aguadoce h3 {
    margin-top: 25px;
}

.blocos-peixes {
    display: flex;
}

.blocos-peixes div {
    background-color: #D7E9FF;
    width: 567px;
    height: 503px;
    border-radius: 10px;
    border: solid black 1px;
    margin: 5px;
}

.blocos-peixes img {
    width: 567px;
    height: 378px;
    border-radius: 7px;
}

.blocos-peixes p {
    font-size: 28.8pt;
    width: 100%;
    text-align: center;
}

.peixes-aguadoce #p-neon {
    color: #17676C;
}

.peixes-aguadoce #p-molinesia {
    color: #26283F;
}

.peixes-aguadoce #p-plati {
    color: #E33B14;
}

.peixes-aguadoce #p-moon {
    color: #0367A6;
}

.peixes-ag {
    box-shadow: 0 3px 6px transparent, 0 3px 6px transparent;
    box-shadow: inset 1px 1px 40px -3px transparent;
    transition: 0.2s linear;
}

.peixes-ag:hover {
    transition: 0.2s linear;
    transform: scale(1.03);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    -webkit-box-shadow: inset 1px 1px 40px -3px rgba(1,26,56,0.53);
    -moz-box-shadow: inset 1px 1px 40px -3px rgba(1,26,56,0.53);
    box-shadow: inset 1px 1px 40px -3px rgba(1,26,56,0.53);
}


.modal-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.35);
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar {
    display: flex;
}

.mostrar .modal {
    animation: modal .3s;
}

.modal {
    position: relative;
    background-color: #d1e0f1;
    box-shadow: 0 0 0 2px black;
    border-radius: 5px;
    position: relative;
    width: 850px;
	height: 550px;
    padding: 50px;
}

.modal-p {
    position: absolute;
    top: 3%;
    left: 2%;
    right: 10%;
    font-size: 13pt;
    text-align: justify;
}

.fechar {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 15px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5em;
    cursor: pointer;
    font-family: Nunito;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#modalp-neon {
    color: #00393e;
}