body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #d7e3fc;
}

h1 {
    color: #1f487e;
    margin: 0px 100px;
    font-size: 35.5px;
}

.sobre-imc {
    margin: 30px 120px;
    color: #376996;
    font-size: 25px;
    text-align: justify;
    display: flex;
    width: 1000px;
}

.sobre-imc div {
    margin: 0px 50px;
    width: 450px;
}

.sobre-imc ~ h2 {
    color: #1f487e;
    margin: 0 auto;
    width: 250px;
}

.calculo {
    display: flex;
    background-color: #ebf2fa;
    margin:  0px 100px 20px 100px;
    height: 350px;
}

.calculo , .action-calc {
    border-radius: 20px;
}


.action-calc {
    display: flex;
    flex-direction: column;
    background-color: #0077b6;
    margin: 0px 50px 0px 0px;
    width: 550px;
}

.element {
    width: 200px;
    margin: 10px 10px 10px 50px;
}

.action-calc button{
    width: 100px;
    height: 25px;
    border: 0;
    border-radius: 2px;
}

#butao:hover {
    border: 1px solid black;
    cursor: pointer;

}

.action-calc p {
    font-size: 20.5px;
}

#peso, #altura {
    margin: 0px 10px 10px 50px;
    padding: 0;
    border: 0;
    border-radius: 5px;
    height: 25px;
    width: 160px;
}

#peso {
    margin-bottom: 16px;
}

.res-calc {
    display: flex;
    color: #1f487e;
    font-size: 2em;
}

.res-calc img {
    margin-right: 50px;
    margin-left: 0px;
    height: 350px;
}